#adminlogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}


#adminlogin input, 
#adminlogin textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#adminlogin label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}
