table{
    border-collapse: unset;
    border: 2px solid darkblue;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

table thead tr th{
    background-color: aqua;
    border: 2px solid darkblue;
    padding: 10px;
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 1.5rem;
}

table tbody tr td {
    background-color: rgb(212 243 239);
    border: 2px solid darkblue;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
}

table tbody tr td a{
    text-decoration: none;
}

.btn{
    padding: 5px 40px;
    margin: 5px 10px;
    background-color: lightgreen;
    border-radius: 10px;
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
    cursor: pointer;
}